.top {
    margin-top: 30px;
    background-color: #99FF99;
}

h2 {
    margin-top: 80px;
}

.return_button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    color: white;
    background: #5D99FF;
    border: #5D99FF;
    transition: .3s;
}

.return_button:hover {
    background: #2C7CFF;
}

body {
    text-align: center;
}