.icon img.profile_image{
    max-width: 30px; /* 最大幅を設定 */
    max-height: 30px; /* 最大高さを設定 */
    width: 30px; /* 幅を自動調整:auto */
    height: 30px; /* 高さを自動調整:auto */
    object-fit: cover; /* 画像を保持し、アスペクト比を維持しつつ要素全体にスケーリング */
    border-radius: 50%; /* 円形にする */
}

