@charset "utf-8";

body {
    margin-top: 50px;
}

.wrap {
    width: 80%;
    margin:auto;
    background-color: #c4e4f5;
    padding: 50px 0 0 30px;
    height: 100%;
}

h3 {
    font-size: 24pt;
    font-weight: bold;
}

p {
    font-size: 15pt;
}

textarea {
    font-size: 12pt;
    resize: none;
    width: 400px;
    height: 150px;
}

.submit {
    width: 80pt;
    height: 30pt;
    margin-top: 30pt;
}