@charset "utf-8";

body {
    margin: 0px;
    margin-bottom: 30px;
}

.wrap {
    /*width: 80%;
    margin:auto;*/
    background-color: #c4e4f5;
    padding: 50px 0 0 30px;
    height: 100%;
}

h3 {
    font-size: 24pt;
    font-weight: bold;
}

.submit_button {
    margin: 30px 0 50px 0;
    width: 150px;
    height: 60px;
    font-size: 15px;
    border-radius: 10px; /* 角丸を入れて、左右が丸いボタンにする */
    color: white;
    background: #5D99FF;
    border: #5D99FF;
    transition: 0.5s ease;
}

.submit_button:hover {
    background: #2C7CFF;
}

textarea {
    font-size: 12pt;
    resize: none;
    width: 350px;
    height: 100px;
}

label {
    margin-right: 5px; /* ボタン同士の間隔 */
}
label input {
    display: none; /* デフォルトのinputは非表示にする */
}
label span {
    color: #333; /* 文字色を黒に */
    background: white;
    font-size: 14px; /* 文字サイズを14pxに */
    border: 1px solid #333; /* 淵の線を指定 */
    border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
    padding: 5px 20px; /* 上下左右に余白をトル */
}
label input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: gray; /* 背景色を薄い赤に */
    border: 1px solid gray; /* 淵の線を薄い赤に */
}
