@charset "utf-8";

body {
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 24pt;
    font-weight: bold;
}

.upload_p {
    font-size: 15pt;
    margin: 10px;
}

textarea {
    font-size: 12pt;
    resize: none;
    width: 350px;
    height: 100px;
}
