@charset "utf-8";

body {
    margin: 0;
}

h1 {
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
}

.wrap {
    /*width: 80%;
    margin: auto;*/
    background-color: #c4e4f5;
    padding: 50px 30px 30px 30px;
    height: 100%;
}

.th {
    display: block;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
}

.likeButton {
    color: #ffffff;
    font-size: 1.5em;
    background-color: deepskyblue;
    border: 0.1em solid;
    border-radius: 1em;
    border-color: deepskyblue;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em rgba(0, 0, 0, 0.498);
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin-right: 5px;
}

.commentButton {
    color: gray;
    font-size: 1.5em;
    background-color: #ffffff;
    border: 0.1em solid;
    border-radius: 1em;
    border-color: #ffffff;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin-right: 30px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
}

.likeButton {
    color: #ffffff;
    font-size: 1.5em;
    background-color: deepskyblue;
    border: 0.1em solid;
    border-radius: 1em;
    border-color: deepskyblue;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em rgba(0, 0, 0, 0.498);
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin-right: 5px;
}

.commentButton {
    color: gray;
    font-size: 1.5em;
    background-color: #ffffff;
    border: 0.1em solid;
    border-radius: 1em;
    border-color: #ffffff;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin-right: 30px;
}

[value="All"]:checked~.targets [data-category] {}

[value="C"]:checked~.targets .target:not([data-category~="C"]),
[value="Python"]:checked~.targets .target:not([data-category~="Python"]),
[value="Java"]:checked~.targets .target:not([data-category~="Java"]),
[value="AI"]:checked~.targets .target:not([data-category~="AI"]),
[value="Web"]:checked~.targets .target:not([data-category~="Web"]),
[value="AWS"]:checked~.targets .target:not([data-category~="AWS"]) {
    display: none;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.filters {
    text-align: center;
    /*margin-left: 200px;*/
}

.filters * {
    display: inline-block;
}

.filters label {
    color: #333;
    /* 文字色を黒に */
    background: white;
    font-size: 14px;
    /* 文字サイズを14pxに */
    border: 1px solid #333;
    /* 淵の線を指定 */
    border-radius: 20px;
    /* 角丸を入れて、左右が丸いボタンにする */
    padding: 5px 20px;
    /* 上下左右に余白をトル */
}

.filters label:hover {
    background: gray;
    color: #fff;
}

[value="All"]:checked~.filters [for="All"],
[value="C"]:checked~.filters [for="C"],
[value="Python"]:checked~.filters [for="Python"],
[value="Java"]:checked~.filters [for="Java"],
[value="AI"]:checked~.filters [for="AI"],
[value="Web"]:checked~.filters [for="Web"],
[value="AWS"]:checked~.filters [for="AWS"] {
    color: #FFF;
    /* 文字色を白に */
    background: gray;
    /* 背景色を灰色に */
    border: 1px solid gray;
    /* 淵の線を灰色に */
}

.contentTitle {
    text-align: left;
    padding: 0px;
}

.contentBody {
    text-align: left;
    vertical-align: top;
}

.timeStamp {
    text-align: center;
}
